<style type="text/css">
  body, html{
     height: 100%;
  background-repeat: no-repeat;
  background-color: #d3d3d3;
  font-family: 'Oxygen', sans-serif;
}

.main{
  margin-top: 70px;
}

h1.title { 
  font-size: 50px;
  font-family: 'Passion One', cursive; 
  font-weight: 400; 
}

hr{
  width: 10%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
    padding: 40px 40px;

}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
</style>
<div class="container">
      <div class="row main">
        <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">{{apptitle}}</h1>
                    <hr />
                  </div>
              </div> 
        <div class="main-login main-center">
  <form class="form-horizontal"  id="registration-form" ng-submit="submit()">
            
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your First Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="text" ng-model="user.firstName" class="form-control" name="fname" id="fname"  placeholder="Enter your Name"/>
                </div>
              </div>
            </div>

<!-- lastname -->
<div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your Last Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" ng-model="user.lastName" name="lname" id="lname"  placeholder="Enter your LastName"/>
                </div>
              </div>
            </div>
<!-- last name ends here  -->

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Your Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
    <input type="text" class="form-control" ng-model="user.email" name="email" id="email"  placeholder="Enter your Email"/>
                </div>
              </div>
            </div>

<!-- phonenumber -->
<div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your Phone Number</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control"
                  ng-model="user.phonenumber" name="phonenumber" id="phonenumber"  placeholder="Enter your Phonenumber"/>
                </div>
              </div>
            </div>
<!-- phonenumber ends here  -->

            <div class="form-group">
              <label for="username" class="cols-sm-2 control-label">Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control"
                  ng-model="user.username" name="username" id="username"  placeholder="Enter your Username"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control"

                  name="password" id="password"  placeholder="Enter your Password"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" ng-model="user.password" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <input type="submit"  class="btn btn-primary btn-lg btn-block login-button">Register</input>
            </div>
            <div class="login-register">
                    <a href="index.php">Login</a>
                 </div>
          </form>
        </div>
      </div>
    </div>



    <!-- form validation -->
<!--     <script>
$(document).ready(function() 
{
    $('#registration-form').formValidation({
        framework: 'bootstrap',
        excluded: ':disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: 
        {
           
          fname: {
                validators: {
                    notEmpty: {
                        message: 'The username is required'
                    }
                }
            },
            lname: {
                validators: {
                    notEmpty: {
                        message: 'The username is required'
                    }
                }
            },
            phonenumber: {
                validators: {
                    notEmpty: {
                        message: 'The username is required'
                    }
                }
            }
            ,
            username: {
                validators: {
                    notEmpty: {
                        message: 'The username is required'
                    }
                }
            },

            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required'
                    }
                }
            }


        }
    });
});
</script> -->